{
    "service_account_key_file":"/home/alexander/service-keys/yc-packer.json",
    "folder_id":"xxxa0cmqqghggdjxxx1",
    "image_name":"reddit-base-{{timestamp}}",
    "platform_id":"standard-v1" 
}
